/* Dark mode colors. */
:root {
  /* Shadcn UI colors. */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Starlight fonts. */
  --sl-font:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Starlight colors. */
  --sl-color-accent-low: var(--muted);
  --sl-color-accent: color-mix(
    in oklch,
    var(--muted-foreground) 50%,
    transparent
  );
  --sl-color-accent-high: var(--primary);
  --sl-color-white: var(--foreground);
  --sl-color-gray-1: var(--foreground);
  --sl-color-gray-2: var(--muted-foreground);
  --sl-color-gray-3: color-mix(
    in oklch,
    var(--muted-foreground) 80%,
    transparent
  );
  --sl-color-gray-4: #ff0000;
  --sl-color-gray-5: var(--border);
  --sl-color-gray-6: var(--muted);
  --sl-color-black: color-mix(in oklch, var(--muted) 50%, var(--background));
}
/* Light mode colors. */
:root[data-theme="light"] {
  /* Shadcn UI colors. */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Starlight colors. */
  --sl-color-accent-low: var(--muted);
  --sl-color-accent: color-mix(
    in oklch,
    var(--muted-foreground) 50%,
    transparent
  );
  --sl-color-accent-high: var(--muted);
  --sl-color-white: var(--foreground);
  --sl-color-gray-1: var(--foreground);
  --sl-color-gray-2: var(--muted-foreground);
  --sl-color-gray-3: color-mix(
    in oklch,
    var(--muted-foreground) 80%,
    transparent
  );
  --sl-color-gray-4: #ff0000;
  --sl-color-gray-5: var(--border);
  --sl-color-gray-6: var(--muted);
  --sl-color-gray-7: var(--muted);
  --sl-color-black: color-mix(in oklch, var(--muted) 50%, var(--background));
}
